@font-face {
  font-family: "NanumSquareNeo";
  src: url("../fonts/NanumSquareNeo-aLt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* RealTimeSidebarLeft 전체 스타일 */
.RealTimeSidebarLeft {
  width: 25%;
  height: 105vh;
  padding: 8px;
  overflow-y: auto;
  background-color: #000000;
  font-family: "NanumSquareNeo", sans-serif; /* 폰트 적용 */
  color: #ffffff;
  border: 1px solid white;
  position: relative;
  z-index: 6;
}

.upload-button {
  background-color: transparent;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 15px;
  cursor: pointer;
  font-family: "NanumSquareNeo", sans-serif; /* 폰트 적용 */
}

.upload-button:hover {
  background-color: #fff;
  color: #000;
}

/* 제목 스타일 */
.SidebarLefttitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
  font-family: "NanumSquareNeo", sans-serif; /* 폰트 적용 */
}

/* 비디오 버튼 스타일 */
.video-button {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
  text-align: left;
  font-family: "NanumSquareNeo", sans-serif; /* 폰트 적용 */
}

.video-button:hover {
  background-color: white;
  color: #007bff;
}

/* 선택된 비디오 버튼 스타일 */
.video-button.selected {
  background-color: white;
  color: #007bff;
}

/* TreeView 스타일 */
.tree-view {
  height: 800px;
  flex-grow: 1;
  max-width: 450px;
  overflow-y: auto;
  background-color: #000000;
  font-family: "NanumSquareNeo", sans-serif; /* 폰트 적용 */
}

/* TreeItem 스타일 */
.tree-item {
  background-color: transparent;
  color: #ffffff;
  border-bottom: 1px solid #333333;
  padding: 10px 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "NanumSquareNeo", sans-serif; /* 폰트 적용 */
}

/* 정보 카드와 이미지 스타일 */
.info-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
  background-color: black;
  font-family: "NanumSquareNeo", sans-serif; /* 폰트 적용 */
}

.info-card {
  display: flex;
  padding: 10px;
  background-color: #222;
  color: #fff;
  border-radius: 8px;
  overflow: hidden;
  font-family: "NanumSquareNeo", sans-serif; /* 폰트 적용 */
}

.image-placeholder {
  width: 80px;
  height: 80px;
  background-color: white;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.image-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-text p {
  margin: 0;
  font-family: "NanumSquareNeo", sans-serif; /* 폰트 적용 */
}

.sidebar-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
  font-family: "NanumSquareNeo", sans-serif; /* 폰트 적용 */
}
