/* Modal Overlay */
.File-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

/* Modal Content */
.File-modal-content {
  background: black;
  border-radius: 8px;
  position: relative;
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: column;
  border-top: 1px solid white; /* 테두리 색상을 흰색으로 변경 */
  border-right: 1px solid white; /* 테두리 색상을 흰색으로 변경 */
  border-left: 1px solid white; /* 테두리 색상을 흰색으로 변경 */
  border-bottom: 1px solid white; /* 테두리 색상을 흰색으로 변경 */
}

/* Modal Top */
.File-modal-top {
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: flex-end;
  padding: 8px;
}

/* Modal Body */
.File-modal-body {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  background: #2c2c2c;
}

/* Close Button */
.File-modal-button-close {
  padding: 9px 22px; /* Increased padding for larger button size */
  font-size: 18px; /* Increased font size for larger button text */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: black;
  color: white;
  margin-left: 10px; /* Space between buttons */
}

/* Hover effect for close button */
.File-modal-button-close:hover {
  background-color: red;
}

/* Disabled Button Style */
.File-modal-button:disabled {
  background-color: #c0c0c0;
  cursor: not-allowed;
}

/* Simple Close Button */
.File-modal-button-simple-close {
  position: absolute;
  top: 5px;
  right: 20px; /* Adjusted for positioning */
  padding: 9px 22px; /* Increased padding for larger button size */
  font-size: 18px; /* Increased font size for larger button text */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: red;
  color: white;
  height: auto; /* Set to auto to accommodate new padding */
}

/* Hover effect for simple close button */
.File-modal-button-simple-close:hover {
  background-color: darkred;
}