.Prev-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* 화면 전체를 차지하도록 수정 */
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 7;
}

.Prev-modal-content {
    background: #333;
    border-radius: 8px;
    position: relative;
    width: 90%; /* 모달 너비를 화면의 90%로 확대 */
    height: 90%; /* 모달 높이를 화면의 90%로 확대 */
    display: flex;
    flex-direction: column;
    border-top: 1px solid white;
    border-right: 1px solid white;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
}

.Prev-modal-body {
    flex: 1;
    overflow-y: auto;
    padding: 20px;
}

/* 완료 버튼 */
.Prev-modal-button-close {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: black;
    color: white;
}

.Prev-modal-content h2 {
    color: white;
    margin: 0;
    font-size: 20px;
}

.Prev-modal-top {
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #000000;
    position: relative;
}

.Prev-modal-button-close:hover {
    opacity: 0.7;
}

.Prev-modal-button:disabled {
    background-color: #c0c0c0;
    cursor: not-allowed;
}

.Prev-modal-button-simple-close {
    position: absolute;
    top: 8px;
    width: 5%;
    right: 20px;
    height: 40px;
    font-size: 18px;
    border: none;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    background-color: black;
    color: white;
}

.Prev-modal-button-simple-close:hover {
    background-color: red;
}
